<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yx.mapper.CollectMapper">
    <sql id="Base_Column_List">
        Collect_Id,D_Id,Username,Collect_Date
    </sql>

    <!--  添加收藏  -->
    <insert id="add" parameterType="cn.yx.bean.Collect">
        insert into collect values (#{collect.collectId},#{collect.dId},#{collect.username},#{collect.collectDate})
    </insert>

    <!--  删除收藏  -->
    <delete id="drop" >
        delete from collect where Collect_Id = #{Collect_Id}
    </delete>

   <!--  查找指定用户的收藏  -->
    <select id="findByUser" resultType="cn.yx.bean.Collect">
        select <include refid="Base_Column_List"/> from collect
        where Username = #{username}
    </select>
</mapper>