<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yx.mapper.DataMapper">
    <resultMap id="BaseResultMap" type="cn.yx.bean.Data">
        <id column="Data_Id" jdbcType="VARCHAR" property="dataId" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="Data_Date" jdbcType="DATE" property="dataDate" />
        <result column="Hits" jdbcType="INTEGER" property="hits" />
        <result column="Collection" jdbcType="INTEGER" property="collection" />
        <result column="Type" jdbcType="VARCHAR" property="type" />
        <result column="Status" jdbcType="VARCHAR" property="status" />
        <result column="author" jdbcType="VARCHAR" property="author"/>
    </resultMap>
    <sql id="Base_Column_List">
        Data_Id, `Name`, Data_Date, Hits, `Collection`, `Type`, `Status`, `author`
    </sql>

    <!--  添加数据 add  -->
    <insert id="add" parameterType="cn.yx.bean.Data">
        insert into data (<include refid="Base_Column_List"/>)
        values(#{data.dataId},#{data.name},#{data.dataDate},#{data.hits},#{data.collection}
        ,#{data.type},#{data.status},#{data.author})
    </insert>

    <!--  查找指定类型的数据并根据时间排序  -->
    <select id="sortordByDate" resultType="cn.yx.bean.Data">
        select <include refid="Base_Column_List"/>
        from data
        <where>
            <if test="user!=null">
                 author=#{user.username}
            </if>
            and Type = #{type} and Status = #{status}
        </where>
        order by `Data_Date` DESC
    </select>

    <!--  查找指定类型的数据并根据点击量排序  -->
    <select id="sortordByHits" resultType="cn.yx.bean.Data">
        select <include refid="Base_Column_List"/>
        from data
        <where>
            <if test="user!=null">
                author=#{user.username}
            </if>
            and Type = #{type} and Status = #{status}
        </where>
        order by `Hits` DESC
    </select>

    <!--  查找指定类型的数据并根据收藏量排序  -->
    <select id="sortordByCollection" resultType="cn.yx.bean.Data">
        select <include refid="Base_Column_List"/>
        from data
        <where>
            <if test="user!=null">
                author=#{user.username}
            </if>
            and Type = #{type} and Status = #{status}
        </where>
        order by `Collection` DESC
    </select>

    <!--  增加点击量  -->
    <update id="addHits">
        update data set Hits=Hits+1 where Data_Id = #{dataId}
    </update>

    <!--  增加收藏量  -->
    <update id="addCollection">
        update data set Collection=Collection+1 where Data_Id = #{dataId}
    </update>

    <!--  修改状态  -->
    <update id="updateStatus">
        update data set Status = #{status} where Data_Id = #{dataId}
    </update>

</mapper>